<div class="container">
  <div>
    <h2>Join our Newsletter!</h2>
    <p>Keep up to date</p>
  </div>
  @if(isSubscribed()){
  <div class="success">
    <app-success-svg />
    Thank you for your subscription!
  </div>
  } @else {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
      [class.invalid]="emailIsInvalid"
      id="email"
      type="email"
      formControlName="email"
      placeholder="Your Email"
      (mousedown)="reset()"
    />
    @if(emailIsInvalid){
    <p class="error">Please provide a valid email adress</p>
    }
    <p class="info">I'm mostly interested in</p>
    <div class="radio">
      <input
        id="wFashion"
        type="radio"
        aria-label="wFashion"
        value="wFashion"
        formControlName="fashion"
      />
      <label for="wFashion">Women's Fashion</label>
    </div>
    <div class="radio">
      <input
        id="mFashion"
        type="radio"
        value="mFashion"
        aria-label="mFashion"
        formControlName="fashion"
      />
      <label id="mFashion">Men's Fashion</label>
    </div>
    <button>
      <app-mail-svg />
      <p>Add my email</p>
    </button>
    <p>
      You can unsubscribe at any time free of charge. Just a demo, no emails are
      stored
    </p>
  </form>
  }
</div>
