@use "abstracts/mixins" as *;
@use "abstracts/theme";
@use "sass:color";

:host {
  @include flex-center;

  @include md {
    margin-top: theme.$gap-size-3xl;
  }

  main {
    width: 100%;
    max-width: theme.$screen-sm-min;
    padding: theme.$gap-size-3xl theme.$gap-size-md;

    div {
      @include flex-column;
      align-items: flex-start;
      padding-top: theme.$gap-size-3xl;
      padding-bottom: theme.$gap-size-3xl;
    }

    .links {
      flex-direction: row;
      justify-content: space-evenly;
      font-size: theme.$font-size-xs;
      color: #6328e0;
    }

    button {
      border: none;
      background-color: transparent;
      color: #6328e0;
      text-decoration: underline;
    }
  }
}
