@use "abstracts/mixins" as *;
@use "abstracts/theme";
@use "animations/slide";
@use "sass:color";

.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid theme.$border;

  @include md {
    display: none;
  }

  input {
    width: 100%;
    outline: none;
    border: none;
    text-align: start;
    font-size: theme.$gap-size-xl;
    padding-left: theme.$gap-size-xl;
    margin-left: 2px;
  }

  button {
    width: 48px;
    height: 40px;
    border: none;
    border-right: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: theme.$border;
    color: theme.$border;
    background-color: transparent;
  }
}

nav {
  display: block;

  @include md {
    display: none;
  }
}

.active {
  @extend .slide-in;
}

ul {
  display: flex;
  list-style: none;
  transform: translateX(-200px);

  li {
    button {
      font-size: theme.$font-size-md;
      padding: 6px;
      background-color: theme.$text-light;
      padding-left: theme.$gap-size-3xl;
      padding-right: theme.$gap-size-3xl;
      text-transform: capitalize;
      border: 1px solid;
      border-left: none;
      border-color: theme.$border;
      color: theme.$border;
      cursor: pointer;
      min-width: 64px;
      text-align: center;
      color: theme.$text-dark;

      &:hover {
        background-color: color.adjust(theme.$text-dark, $lightness: 90%);
        border-color: color.adjust(theme.$text-dark, $lightness: 90%);
      }
    }

    .active {
      color: theme.$text-light;
      background-color: theme.$text-dark;
      border-color: theme.$text-dark;
      pointer-events: none;
    }
  }
}
