<div class="container">
  <div>
    <span><app-mail-svg />Help & Contact</span>
    <ul>
      @for (item of help; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div class="space">
    <ul>
      @for (item of help2; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div>
    <span><app-redeem-svg />Gift vouchers</span>
    <ul>
      @for (item of gitVouchers; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div>
    <span><app-help-svg />About us</span>
    <ul>
      @for (item of about; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div class="row">
    <span><app-truck-svg />Our partners</span>
    <ul>
      @for (item of partners; track item) {
      <li>
        <ng-container [ngComponentOutlet]="item"></ng-container>
      </li>
      }
    </ul>
  </div>
  <div class="row">
    <span><app-card-svg />Our payment methods</span>
    <ul>
      @for (item of paymentMethods; track item) {
      <li>
        <ng-container [ngComponentOutlet]="item"></ng-container>
      </li>
      }
    </ul>
  </div>
  <div>
    <span><app-wallet-svg />Our advantages</span>
    <ul>
      @for (item of advantages; track item.text) {
      <li class="icon">
        <ng-container [ngComponentOutlet]="item.icon"></ng-container>
        {{ item.text }}
      </li>
      }
    </ul>
  </div>
</div>
