<div class="container">
  <div class="item">
    <span><app-mail-svg />Help & Contact</span>
    <ul>
      @for (item of help; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div class="item space">
    <ul>
      @for (item of help2; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div class="item">
    <span><app-redeem-svg />Gift vouchers</span>
    <ul>
      @for (item of vouchers; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div class="item">
    <span><app-help-svg />About us</span>
    <ul>
      @for (item of about; track item) {
      <li>{{ item }}</li>
      }
    </ul>
  </div>
  <div class="item row">
    <span><app-truck-svg />Our partners</span>
    <ul>
      <li><app-post-svg /></li>
      <li><app-dhl-svg /></li>
      <li><app-hermes-svg /></li>
    </ul>
  </div>
  <div class="item row">
    <span><app-card-svg />Our payment methods</span>
    <ul>
      <li>
        <app-bill-svg />
      </li>
    </ul>
  </div>
  <div class="item">
    <span><app-wallet-svg />Our advantages</span>
    <ul>
      <li class="icon-item">
        <app-truck-svg />Free shipping for purchases over $30
      </li>
      <li class="icon-item"><app-return-svg />30 days return policy</li>
      <li class="icon-item"><app-box-svg />Flexible payment options</li>
    </ul>
  </div>
</div>
