@use "abstracts/mixins" as *;
@use "abstracts/theme";
@use "sass:color";

:host {
  p {
    @include flex-center;
    gap: 8px;
  }

  button {
    display: flex;
    width: 100%;
    font-weight: 500;
    padding: theme.$gap-size-xl;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: theme.$font-size-md;
    border: 1px solid transparent;
    border-bottom-color: theme.$border;

    &:hover,
    &:focus-visible {
      background-color: color.adjust(theme.$text-dark, $lightness: 60%);
      border: 1px solid theme.$text-dark;
    }

    .arrow {
      width: 24px;
      height: 24px;
      transition: all 0.2s ease-in-out;
      transform: rotate(0deg);

      &.is-open {
        transition: all 0.2s ease-in-out;
        transform: rotate(180deg);
      }
    }
  }

  .content {
    padding: theme.$gap-size-xl;
  }
}
