@use "abstracts/mixins" as *;
@use "abstracts/theme";
@use "sass:color";

:host {
  @include flex-center;
  padding: theme.$gap-size-md;
  border-bottom: 1px solid theme.$border;

  .container {
    @include flex-between;
    width: 100%;
    max-width: theme.$screen-xl-min;
  }

  nav {
    display: none;

    @include md {
      display: block;
      min-width: 225px;
    }

    ul {
      display: flex;
      list-style: none;
    }

    li {
      button {
        all: unset;
        padding: 6px;
        padding-left: theme.$gap-size-md;
        padding-right: theme.$gap-size-md;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 500;
        min-width: 64px;
        text-align: center;
        color: theme.$text-dark;

        &:hover,
        &:focus {
          background-color: color.adjust(theme.$text-dark, $lightness: 90%);
        }
      }

      .active {
        color: theme.$text-light;
        background-color: theme.$text-dark;
        pointer-events: none;
      }
    }
  }

  div {
    display: flex;
    justify-content: flex-end;
    align-self: stretch;
    gap: theme.$gap-size-xl;
    padding-right: theme.$gap-size-md;
    padding-left: theme.$gap-size-md;

    @include md {
      min-width: 225px;
    }
  }
}
