@use "abstracts/mixins" as *;
@use "components/form" as *;
@use "abstracts/theme";

:host {
  h2 {
    padding-top: theme.$gap-size-3xl;
    padding-bottom: theme.$gap-size-3xl;
  }

  div {
    @include flex-column;
    align-items: flex-start;
    padding-top: theme.$gap-size-3xl;
    padding-bottom: theme.$gap-size-3xl;
  }

  form {
    width: 100%;

    label {
      @extend .account-label;
    }

    input {
      @extend .account-input;
    }

    p {
      font-weight: 600;
      padding-top: theme.$gap-size-lg;

      &.error {
        color: theme.$error-color;
      }
    }
  }
}
