@use "abstracts/mixins" as *;
@use "abstracts/theme";
@use "sass:color";

:host {
  @include flex-center;

  @include md {
    margin-top: theme.$gap-size-xl;
  }

  .container {
    @include flex-between;
    width: 100%;
    max-width: theme.$screen-xl-min;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    .left-panel {
      @include flex-center;
      align-self: flex-start;
      width: 100%;

      @include md {
        position: sticky;
        top: 0px;
      }
    }

    .right-panel {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: theme.$gap-size-md;
      padding: theme.$gap-size-md;

      .placeholder {
        height: theme.$screen-sm-min;
      }
    }
  }

  .loader {
    padding: theme.$gap-size-xl;
    margin: theme.$gap-size-xl;
  }
}
