@use "abstracts/mixins" as *;
@use "abstracts/theme";

.container {
  @include flex-column;
  justify-content: center;
  padding: theme.$gap-size-xl;

  button:first-of-type {
    align-self: flex-end;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}
