@use "abstracts/theme";
@use "abstracts/mixins";

div {
  background-color: theme.$info-color;
  @include mixins.flex-center;

  p {
    color: theme.$text-light;
    font-size: theme.$font-size-xs;
    margin: theme.$gap-size-md;
    font-weight: 600;
  }

  button {
    margin-bottom: 2px;
  }
}
