@use "abstracts/mixins";
@use "abstracts/theme";

a {
  @include mixins.flex-center;
  text-decoration: none;
  color: theme.$text-dark;
  gap: theme.$gap-size-md;

  &:active {
    color: theme.$text-dark;
  }

  h1 {
    font-size: theme.$font-size-lg;
  }

  img {
    width: 24px;
    height: 24px;
  }
}
