@use "abstracts/theme";
@use "abstracts/mixins";
@use "abstracts/mixins" as *;

:host {
  @include mixins.flex-center;
  background-color: theme.$text-dark;
  color: theme.$text-light;

  div {
    @include mixins.flex-column;
    justify-content: center;
    border-bottom: none;
    max-width: theme.$screen-xl-min;
    padding: 0 theme.$gap-size-md;
    width: 100%;

    @include md {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .links {
    padding: theme.$gap-size-md 0;
    margin: theme.$gap-size-lg 0px;
    width: 100%;

    @include md {
      padding: theme.$gap-size-lg 0px;
    }
  }

  .links > ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;

    gap: theme.$gap-size-md;
    padding: 0px;
  }

  .links > ul > li {
    padding-right: theme.$gap-size-md;
    border-right: 2px solid theme.$text-light;
  }

  .links > ul > li:last-of-type {
    border-right: none;
  }

  .social-media {
    all: unset;
    text-align: center;
    padding: 24px 0;

    @include md {
      text-align: left;
    }
  }

  .social-media > ul {
    display: flex;
    gap: theme.$gap-size-md;
    padding: 0px;
    list-style: none;
    margin: theme.$gap-size-lg 0px;
  }

  .social-media > ul > li {
    background-color: theme.$text-light;
    padding: theme.$gap-size-md;
  }

  .social-media > ul > li > img {
    height: 24px;
    width: 24px;
    display: flex;
  }
}
