@use "abstracts/mixins" as *;
@use "abstracts/theme";
@use "sass:color";

:host {
  @include flex-center;
  flex-direction: column;
  background-color: theme.$border;

  .container {
    @include flex-center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 theme.$gap-size-md;
    width: 100%;
    max-width: 1216px;

    @include md {
      flex-direction: row;
    }

    > div:first-of-type {
      @include flex-column;
      margin-top: theme.$gap-size-xl;
      padding: 32px 0;
      gap: theme.$gap-size-xl;

      @include md {
        align-items: flex-start;
      }
    }

    form,
    .success {
      background-color: theme.$text-light;
      padding: 24px;
      margin-top: theme.$gap-size-xl;
      width: 100%;
      max-width: 528px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: theme.$gap-size-xl;
      box-sizing: border-box;

      input[type="email"] {
        width: 100%;
        font-size: theme.$gap-size-xl;
        padding: theme.$gap-size-lg 0;
        text-align: center;
        border: 1px solid theme.$border;
        outline: none;
        border-radius: 4px;

        &:hover,
        &:focus {
          outline: 1.6px solid theme.$text-dark;
          transition: 0.3s outline ease-in-out;
        }

        &.invalid {
          border-color: theme.$error-color !important;

          &:hover,
          &:focus {
            outline: none;
          }
        }
      }

      input[type="radio"] {
        appearance: none;
        width: theme.$gap-size-xl;
        height: theme.$gap-size-xl;
        border: 1px solid theme.$text-dark;
        border-radius: 50%;
        transform: translateY(-0.075em);
        @include flex-center;
        margin-right: theme.$gap-size-md;

        &::before {
          content: "";
          width: theme.$gap-size-md;
          height: theme.$gap-size-md;
          border-radius: 50%;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em theme.$text-dark;
        }

        &:checked::before {
          transform: scale(1);
        }
      }

      label[for^="wFashion"],
      label[for^="mFashion"] {
        font-weight: 500;
      }

      p {
        font-weight: 600;
        margin: 0;

        &.error {
          color: theme.$error-color;
        }

        &.info {
          margin-top: theme.$gap-size-xl;
        }

        &:last-of-type {
          font-size: theme.$gap-size-lg;
          margin: theme.$gap-size-md 0;
          font-weight: 400;
        }
      }

      .radio {
        display: flex;
        align-items: center;
      }

      button {
        all: unset;
        @include flex-center;
        margin-top: theme.$gap-size-xl;
        padding: theme.$gap-size-md;
        background-color: theme.$text-dark;
        color: theme.$text-light;
        cursor: pointer;
        gap: theme.$gap-size-md;

        p {
          font-weight: 500;
          font-size: theme.$gap-size-xl;
        }

        &.disabled {
          background-color: theme.$border;
          cursor: not-allowed;
        }
      }
    }

    .success {
      @include flex-center;
      gap: theme.$gap-size-md;
    }
  }
}
