<div class="container">
  <div class="foo">
    <h2>Join our Newsletter!</h2>
    <p>Keep up to date</p>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <input
      id="email"
      type="email"
      placeholder="Your Email"
      name="email"
      ngModel
      email
      required
      #email="ngModel"
    />

    @if(email.touched && email.dirty && email.invalid){
    <p class="error">Please provide a valid email adress</p>
    }
    <p class="info">I'm mostly interested in</p>
    <div class="radio">
      <input
        id="wFashion"
        type="radio"
        value="wFashion"
        ngModel
        name="fashion"
      />
      <label for="wFashion">Women's Fashion</label>
    </div>
    <div class="radio">
      <input
        id="mFashion"
        type="radio"
        value="mFashion"
        ngModel
        name="fashion"
      />
      <label id="mFashion">Men's Fashion</label>
    </div>
    <button><p>Add my email</p></button>
    <p>
      You can unsubscribe at any time free of charge. Just a demo, no emails are
      stored
    </p>
  </form>
</div>
