@use "abstracts/theme";
@use "abstracts/mixins";
@use "sass:color";

:host {
  all: unset;
  cursor: pointer;
  @include mixins.flex-center;
  color: theme.$text-light;
  &:hover {
    color: color.adjust(theme.$text-light, $lightness: -10%);
  }
}
