@use "abstracts/theme";
@use "abstracts/mixins";
@use "sass:color";

button {
  all: unset;
  cursor: pointer;
  @include mixins.flex-center;
  color: theme.$text-light;
  svg {
    &:hover {
      color: color.adjust(theme.$text-light, $lightness: -10%);
    }
  }
}
