<div class="container">
  <div class="info">
    <h2>DROP SPRING 2025</h2>
    <p>The 3 pairs of shoes you need for this spring</p>
    <button>
      Shop now
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -960 960 960"
        height="24px"
        width="24px"
        fill="currentColor"
      >
        <path
          d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
        />
      </svg>
    </button>
  </div>
  <div class="image">
    <img src="model.webp" alt="Woman in front of winter landscape" />
  </div>
</div>
