@use "abstracts/theme";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin sm {
  @media (min-width: #{theme.$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{theme.$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{theme.$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{theme.$screen-xl-min}) {
    @content;
  }
}
