// Colors
$info-color: #3e1062;
$highlight-color: #ff6900;
$primary-color: #f2b53c;
$secondary-color: #fae1ad;

$text-dark: #000;
$text-light: #fff;

$border: #efeff0;

// Font Sizes
$font-size-xs: 12px;
$font-size-md: 16px;
$font-size-lg: 22px;

// Gap sizes
$gap-size-xs: 4px;
$gap-size-md: 8px;
$gap-size-lg: 12px;
$gap-size-xl: 16px;

// Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1216px;
