<div class="image">
  <a [routerLink]="['/product', product().id]">
    <img
      src="/images/{{ product().name }}.webp"
      alt="{{ product().description }}"
      title="{{ product().description }}"
  /></a>
  <button
    class="like-button"
    aria-label="Like this product"
    [class.active]="isFavorite()"
    (click)="onToggleLike()"
  >
    <app-heart-svg [isFavorite]="isFavorite()" />
  </button>
</div>
<p>
  @for (word of product().description.split(" "); track word + $index) {
  <span [class.highlight]="highlightText(word)">{{ word + " " }}</span>
  }
</p>
<p>{{ product().price | currency }}</p>
<button class="add-button" aria-label="Add to Cart" (click)="onAdd()">
  Add to Cart
</button>
