<div class="container">
  <nav>
    <ul>
      @for (category of categories; track category) {
      <li>
        <button
          (click)="onSelectCategory(category)"
          [class.active]="activeCategory() === category"
        >
          {{ category }}
        </button>
      </li>
      }
    </ul>
  </nav>
  <app-logo />
  <div>
    <button
      appLikeButton
      (click)="onOpenFavorites()"
      aria-label="Toggle favorites"
    ></button>
    <button
      appCartButton
      (click)="onOpenCart()"
      aria-label="Toggle cart"
    ></button>
  </div>
</div>
